@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}
html{
    font-size: calc(8px + 0.5vw);

}
body{
    --background:black;
    --background2:#000C20;
    --text:#FFFFFF;
    --primary:#2d6bce;
    --accent:#B1CDF7;
    --secondary:#052250;
    background: var(--background);
    color: var(--text);
    
    font-family: 'Inter', sans-serif;
    margin:0;
}

.default-button{
    background: var(--primary);
    color: var(--text);
    border: 0.1em solid var(--secondary);
    border-radius: 0.5em;
    padding: 0.3em 2em;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.default-button2{
    background: rgba(43, 57, 79, 0.58) !important;
    border: 4px solid #5F93E5 !important;
    color: var(--text);
    border-radius: 0.5em;
    padding: 0.3em 2em;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

h2{
    font-size: 3rem;
    color: var(--accent);
    margin: 0;
}

.hero{
    font-size: 1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    gap:1em;
    height:100vh;
    background:url('../assets/default/bg1.png');
    background-size:cover;
}


.hero>h1{
    font-size:5em;
    color:var(--text);
    text-align:center;
    margin:0;
    animation: fadeY 0.5s ease-in-out backwards;
    animation-delay: 0.2s;
    --amt:0.2em;
    line-height: 1em;

}
.hero>h2{
    font-size:2em;
    color:var(--accent);
    text-align:center;
    margin:0;
    animation: fadeY 0.5s ease-in-out backwards;
    --amt:0.2em;
    animation-delay: 0.5s;
}

.hero>.default-button{
    margin-top:0.5em;
    animation: fadeY 0.5s ease-in-out backwards;
    --amt:0.2em;
    animation-delay: 0.7s;
}

.hero>img{
    max-height: 40%;
    max-width:40%;
    animation: fadeY 0.5s ease-in-out;
    --amt:-1em;
}

@keyframes fadeY {
    0% {
        opacity: 0;
        transform: translateY(var(--amt));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeX {
    0% {
        opacity: 0;
        transform: translateX(var(--amt));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

b,.highlight{
    color:var(--accent);
}

.hidden{
    display:none !important;
}
button,select{
    transition:filter 0.3s ease-in-out;
}
.default-button:hover{
    filter:brightness(1.2);
}
