.guest-info__container>*:not(.guest-list){
    background: transparent !important;
    border: none !important;
    text-align: center;
    border-radius: 0 !important;
}

.guest-info__container .custom-select-opener{
    background: transparent !important;
    border: none;
    border-left: 4px solid #5F93E5 !important;
    text-align: center;
    width:6em;
    border-radius: 0 !important;
    min-width:6em !important;

    padding:0em;
    font-size: 2rem;
    height:100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.guest-info__container .custom-select-option{
    background: rgba(43, 57, 79, 0.58) !important;
    font-size: 2rem;
    padding:0.2em 0.5em;
    font-weight: bold;
    transition: 0.2s;
    cursor:pointer;
}

.guest-info__container .custom-select-option:hover{
    filter:brightness(0.8);
}

.reason{
    background: rgba(78, 78, 78, 0.58) !important;
    border: 4px solid #d3d3d3 !important; 
    max-width: 70vw;
    width:50%;
    height:100%;
    max-height:100%;
    padding:0.5em;
    resize: none;
    box-sizing: border-box;
    cursor:text;
    font-family: 'Inter', sans-serif;
}
.image{
    position:relative;
    background: rgba(78, 78, 78, 0.58) !important;
    border: 4px solid #d3d3d3 !important; 
    width:50%;
    height:100%;
    box-sizing: border-box;
    padding:0.5em;
    transition: 0.2s;
}
.user{
    width:50vw;

}

.nomination{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1em;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100dvh;
    background: rgba(0, 0, 0, 0.566);
    backdrop-filter: blur(5px);
    z-index: 9999;
    padding:1em;
    padding-bottom:3em;
    box-sizing:border-box;

}

.nomination>h2{
    color:white;
    text-align: center;
}

.nominate{
    background: rgba(78, 78, 78, 0.58) !important;
    border: 4px solid #dae55f !important;
}


.cancel{
    background: rgba(78, 78, 78, 0.58) !important;
    border: 4px solid #e55f5f !important;
}


.guest-info__container{
    display:flex;
    background: rgba(43, 57, 79, 0.58) !important;
    border: 4px solid #5F93E5 !important;
    border-radius: 0.5em;
    position:relative;
    max-width: 90%;
}

.guest-list{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    background: rgb(43, 57, 79) !important;
    border: 4px solid #5F93E5 !important;
    border-radius: 0.5em;
    position:absolute;
    top:100%;
    left:-0.25rem;
    width:100%;
    max-height: 50vh;
    overflow-y:overlay;
    scrollbar-gutter:stable;
    z-index: 999;

}

.guest{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    padding:0;
    box-sizing: border-box;
    border-bottom: 2px solid var(--primary);
    cursor:pointer;
    transition: 0.2s;
}

.name{
    cursor:text;
    width:100%;
}
.guest__class{
    font-size: 2em;
    padding: 0.2em 0em;
    text-align: center;
    min-width: calc(6em - 12px);
    box-sizing: border-box;
    margin:0;
    }

.guest__name{
    padding:0.2em 0em;
    font-size: 2em;
    width:100%;
    box-sizing: border-box;
    text-align: center;
    margin:0;
    border-right:2px solid var(--primary);
}
.guest:last-child{
    border:none;
}

::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}
::-webkit-scrollbar-track {
    background: transparent; /* Optional: Transparent track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Scroll thumb color */
}

.guest.disabled{
    filter:brightness(0.5) grayscale(1);
}

.guest:hover{
    background: var(--primary);
}
.action-button__container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1em;
    margin-top:1em;
}

.guest-details__container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:1em;
    width:80%;
    height:100%;
    padding:1em;
    box-sizing:border-box;
}

.image-upload__text{
    position:relative;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.473);
    text-align: center;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:1em;
    font-weight:bold;
    cursor:pointer;
    z-index: 2;

}

#image-upload{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    height:0.1px;
    width:0.1px;

}
.image:hover{
    filter: brightness(0.8);
}
.image-preview{
    position:absolute;
    top:50%;
    left:50%;
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height:100%;
    transform: translate(-50%,-50%);
    z-index:1;
    object-fit: contain;
    box-sizing: border-box;
}

/* Styles for portrait mode */
@media (orientation: portrait) {

    .guest-details__container {
        flex-direction: column;
    }

    .guest-details__container>* {
        width: 100%;
    }

}

.remaining{
    margin:0;
}

.tmp{
    display:contents;
}

.special{
    font-size: 1.5em;
    font-weight: bold;
}