.header{
    display:flex;
    min-width:60%;
    max-width: 100%;
    width:fit-content;
    justify-content:space-between;
    gap:2em;
}

.nominee{
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5em;
    position:relative;
    cursor:pointer;

}
.nominee__img{
    width: 15rem;
    aspect-ratio: 2/3;
    transition: filter 0.5s ease-in-out;
    object-fit: contain;
}

.nominee__name{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    max-width:100%;
    width:100%;
}

.nominee__table{
    font-size: 1rem;
    margin: 0.1em 0;
    color:var(--accent);
    font-weight: 500;

}

.nominee__container{
    padding: 3em 0;
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
    overflow-y: auto ;
}

.best-dressed-male .default-button{
    background: rgba(43, 57, 79, 0.58);
    border: 4px solid #5F93E5;
    
}

.best-dressed-female .default-button{
    border: 4px solid rgba(255, 105, 105, 0.54);
    background: rgba(104, 13, 13, 0.49);
    
}

.partners-in-crime .default-button{
    border: 4px solid rgba(234, 105, 255, 0.54);
    background: rgba(102, 13, 104, 0.49);
    
} 

.prom-king .default-button{
    background: rgba(75, 79, 43, 0.58);
    border: 4px solid #d8e55f;
    
}

.prom-queen .default-button{
    background: rgba(79, 65, 43, 0.58);
    border: 4px solid #e5a05f;
    
}
section:not(.hero){
    height:100vh;
    padding:2rem 5rem;
    display:flex;
    flex-direction:column;

}


.search{
    width:fit-content;
    font-size: 1.5rem;
}

.nominee:hover .nominee__img{
    filter:blur(3px) brightness(0.5);
}

.nominee:hover .nominee__desc{
    opacity:1;
}
.nominee-img__container{
    position:relative;

}

.nominee__desc{
    font-size: 1.5em;
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    opacity:0;
    transition: opacity 0.5s ease-in-out;

}
.nominee:hover .heart:before, .nominee:hover .heart:after{
    background: rgb(196, 196, 196);
}
.nominee:hover .heart{
    filter:drop-shadow(0 0 0.2em rgb(0, 0, 0));
    transform: translate(20%,20%) scale(1.1);
}

.voted .heart{
    filter:drop-shadow(0 0 0.2em rgb(0, 0, 0)) !important;
    transform: translate(20%,20%) scale(1.2) !important;
}

.voted .heart:before, .voted .heart:after{
    background: rgb(255, 255, 255) !important;
}

.heart { 
    font-size:0.8rem;
    position: absolute; 
    width: 4em; 
    height: 3.5em; 
    right:0;
    bottom:0;
    filter:drop-shadow(0 0 0.2em rgb(196, 196, 196));
    transform: translate(20%, 20%);
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
} 

.heart:before, .heart:after { 
    position: absolute; 
    content: ""; 
    left: 50%; 
    top: 0; 
    width: 50%; 
    height: 100%; 
    background: rgb(0, 0, 0);
    border-radius: 1em 1em 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
    transition: background 0.5s ease-in-out;
} 

.heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}

.misc{
    display:flex;
    flex-direction:row;
    gap:1em;
    width:100%;
    max-width: 100%;
    margin-top:2rem;

}

.remaining-votes{
    font-size: 1.5rem;
    margin:0;
    display:flex;
    align-items:center;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .header{
        flex-direction:column;
        gap:1em;
    }
    .nominee__container{
        padding: 1em 0;
    }
    .nominee{
        width: 40%;
    }
    .nominee__img{
        width: 100%;
    }
    .nominee__desc{
        font-size: 1em;
    }
    .nominee__name{
        font-size: 1em;
    }
    .nominee__table{
        font-size: 0.8em;
    }
    .misc{
        flex-direction:column;
        gap:0.5em;
    }
    section:not(.hero){
        padding:1rem 2rem;
    }
}